<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <h4 class="mb-3 f-w-400">Sign up/Register</h4>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="feather icon-user"></i></span>
              <input type="text" class="form-control" placeholder="First Name" aria-label="first Name" aria-describedby="basic-addon1" 
              [(ngModel)]="userDetails.firstName" name="firstName"/>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon2"><i class="feather icon-user"></i></span>
              <input type="text" class="form-control" placeholder="Last Name" aria-label="last Name" aria-describedby="basic-addon2"
              [(ngModel)]="userDetails.lastName" name="lastName" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3"><i class="feather icon-mail"></i></span>
              <input type="email" class="form-control" placeholder="Email address" aria-label="Email address" aria-describedby="basic-addon3"
              [(ngModel)]="userDetails.email" name="email" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon4"><i class="feather icon-lock"></i></span>
              <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon4"
              [(ngModel)]="userDetails.password" name="password" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon5"><i class="feather icon-info"></i></span>
              <input type="number" class="form-control" placeholder="Age" aria-label="age" aria-describedby="basic-addon5"
              [(ngModel)]="userDetails.age" name="age" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon6"><i class="feather icon-info"></i></span>
              <input type="text" class="form-control" placeholder="Phone Number" aria-label="Phone Number" aria-describedby="basic-addon6"
              [(ngModel)]="userDetails.phoneNumber" name="phoneNumber" />
            </div>

            <!-- Address -->
            <h6 class="text-start">Address</h6>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Street" aria-label="Street" aria-describedby="basic-addon7"
              [(ngModel)]="userDetails.address.street" name="street" />
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="City" aria-label="City" aria-describedby="basic-addon8"
              [(ngModel)]="userDetails.address.city" name="city" />
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="State" aria-label="State" aria-describedby="basic-addon9"
              [(ngModel)]="userDetails.address.state" name="state" />
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Country" aria-label="Country" aria-describedby="basic-addon10"
              [(ngModel)]="userDetails.address.country" name="country" />
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Zip Code" aria-label="Zip Code" aria-describedby="basic-addon11"
              [(ngModel)]="userDetails.address.zipCode" name="zipCode" />
            </div>

            <!-- Account Details -->
            <h6 class="text-start">Account Details</h6>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Account Number" aria-label="Account Number" aria-describedby="basic-addon7"
              [(ngModel)]="userDetails.accountDetails.accountNumber" name="accountNumber" />
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Bank Name" aria-label="bank name" aria-describedby="basic-addon8"
              [(ngModel)]="userDetails.accountDetails.bankName" name="bankName" />
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Bank Code" aria-label="bank code" aria-describedby="basic-addon9"
              [(ngModel)]="userDetails.accountDetails.bankCode" name="bankCode" />
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Branch" aria-label="branch" aria-describedby="basic-addon10"
              [(ngModel)]="userDetails.accountDetails.branch" name="branch" />
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="IFSC code" aria-label="IFSC code" aria-describedby="basic-addon11"
              [(ngModel)]="userDetails.accountDetails.ifscCode" name="ifscCode" />
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="CVV code" aria-label="CVV code" aria-describedby="basic-addon12"
              [(ngModel)]="userDetails.accountDetails.cvv" name="cvv" />
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="UPI ID" aria-label="UPI ID" aria-describedby="basic-addon13"
              [(ngModel)]="userDetails.accountDetails.upiId" name="upiId" />
            </div>
            <div class="input-group mb-3">
              <label for="dateOfExpiry" class="form-label w-100 text-start">Date Of Expiry</label>
              <input type="date" class="form-control" id="dateOfExpiry" aria-label="Date of expiry" aria-describedby="basic-addon14"
              [(ngModel)]="userDetails.accountDetails.dateOfExpiry" name="dateOfExpiry" />
            </div>
            <div class="mb-3">
              <label for="accountType" class="form-label w-100 text-start">Select Account Type</label>
              <select class="form-control" id="accountType" aria-label="Account Type" aria-describedby="basic-addon15"
                [(ngModel)]="userDetails.accountDetails.accountType" name="accountType">
                @for(type of accountTypes; track $index) {
                  <option [ngValue]="type.value">{{type.label}}</option>
                }
              </select>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Nominee" aria-label="Nominee" aria-describedby="basic-addon16"
              [(ngModel)]="userDetails.accountDetails.nominee" name="nominee" />
            </div>
            <div class="input-group mb-3">
            <label for="nomineeWithRelation" class="form-label w-100 text-start">Select Relation With Nominee</label>  
              <select class="form-control" id="nomineeWithRelation" aria-label="Relation With Nominee" aria-describedby="basic-addon15"
                [(ngModel)]="userDetails.accountDetails.relationWithNominee" name="relationWithNominee">
                @for(type of nomineeRelations; track $index) {
              <option [ngValue]="type.value">{{type.label}}</option>
              }
              </select>
            </div>

            <div class="input-group mb-3">
            <label for="role" class="form-label w-100 text-start">Select Role</label>  
              <select class="form-control" id="role" aria-label="Role" aria-describedby="basic-addon15"
                [(ngModel)]="userDetails.role" name="role">
                @for(type of roles; track $index) {
              <option [ngValue]="type.value">{{type.label}}</option>
              }
              </select>
            </div>

            <div class="input-group text-start">
              <div class="checkbox checkbox-primary d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="isActiveCheckbox" [(ngModel)]="userDetails.accountDetails.isActive" />
                <label for="isActiveCheckbox" class="cr">Is Active</label>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="number" class="form-control" placeholder="Balance" aria-label="Balance" aria-describedby="basic-addon19"
              [(ngModel)]="userDetails.accountDetails.balance" name="balance" />
            </div>
            <div class="d-grid">
              <button class="btn btn-primary btn-block mb-4" (click)="registerUser()" >Sign up</button>
            </div>
            <p class="mb-2">
              Already have an account?
              <a [routerLink]="['/login']" class="f-w-400">Signin</a>
            </p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-success text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Success</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{successMessage}}
      </div>
    </div>
  </div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-danger text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Error</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>  
