<ng-scrollbar style="height: 362px" visibility="hover" track="all">
  <table class="table table-hover m-b-0 mt-3">
    <thead>
      <tr>
        <th>
          <span>
            First Name
            <a class="help"><i class="feather icon-help-circle  f-16"></i></a>
          </span>
        </th>
        <th>
          <span>
            Account number
            <a class="help"><i class="feather icon-help-circle  f-16"></i></a>
          </span>
        </th>
        <th>
          <span>
            City
            <a class="help"><i class="feather icon-help-circle  f-16"></i></a>
          </span>
        </th>
        <th>
          <span>
            Email
            <a class="help"><i class="feather icon-help-circle  f-16"></i></a>
          </span>
        </th>
        <th>
          <span>
            Mobile
            <a class="help"><i class="feather icon-help-circle  f-16"></i></a>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      @for(user of users; track $index) {
        <tr>
          <td>
            <a href="javascript:void(0)" class="text-decoration-underline">
              [{{user.userId}}] {{user.firstName}}
            </a>
          </td>
          <td>{{user.accountNumber}}</td>
          <td>{{user.city}}</td>
          <td>{{user.email}}</td>
          <td>{{user.mobile}}</td>
        </tr>
      }
    </tbody>
  </table>
</ng-scrollbar>
