<div class="row">
  <header class="bg-primary text-white p-3 mb-2 offset-sm-2" text-center:true>
    <h1>Account Transaction Dashboard</h1>
  </header>
  <div class="col-sm-4 offset-sm-2">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Transaction ID</th>
          <th>Transaction Date</th>
          <th>Amount</th>
          <th>Trans Type</th>
          <th>Description</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trans of userAccTransaction">
          <td>{{ trans.transId }}</td>
          <td>{{trans.transDate}}</td>
          <td>{{trans.amount}}</td>
          <td>{{trans.transtype}}</td>
          <td>{{trans.description}}</td>
          <td>{{trans.balAfterTrans}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- </div> -->

  <div class="row">
    <div class="col-sm-4 offset-sm-2">
      <h2>Account Transactions Overview</h2>
      <p>Datewise transactions Amount.</p>
      <div class="mb-3">
        <label for="chartType" class="form-label">Chart Type:</label>
        <select id="chartType" class="form-select" [(ngModel)]="selectedChartType"
          (ngModelChange)="onChartTypeChange($event)">
          <option *ngFor="let type of chartTypes" [ngValue]="type">{{ type }}</option>
        </select>
      </div>
      <div class="chart-container">
        <canvas id="transactionBarChart"></canvas>
      </div>
      <!-- </div> -->
      <footer class="bg-light text-center p-3 mt-4 border-top">
        <small>&copy; 2025 PayDashboard. All rights reserved.</small>
      </footer>
    </div>