.container {
  background: #f8f9fa;
}

.card {
  background-color: #fff;
  border: none;
}

input.form-control {
  border-left: none;
}

.input-group-text {
  border-right: none;
  background-color: #f1f3f4;
}

button.btn svg {
  vertical-align: middle;
}
