<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <h4 class="mb-3 f-w-400">SignIn</h4>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="feather icon-mail"></i></span>
              <input type="email" class="form-control" 
                placeholder="Email address" 
                [value]="email()"
                (input)="email.set($any($event.target).value)" />
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text" id="basic-addon3"><i class="feather icon-lock"></i></span>
              <input type="password" 
                    class="form-control" 
                    placeholder="Password" 
                    [value]="password()"
                    (input)="password.set($any($event.target).value)" />
            </div>
            <div class="form-group text-start mt-2">
              <div class="checkbox checkbox-primary d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="" />
                <label for="checkbox-fill-a1" class="cr">Save credentials</label>
              </div>
            </div>
            <div class="d-grid">
              <button class="btn btn-block btn-primary mb-4" (click)="loginUser()">SignIn</button>
            </div>
            <p class="mb-2 text-muted">
              Forgot password?
              <a href="javascriprt:" class="f-w-400">Reset</a>
            </p>
            <p class="mb-0 text-muted">
              Don’t have an account?
              <a [routerLink]="['/register']" class="f-w-400">Signup</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-success text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Success</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Login success
      </div>
    </div>
  </div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-danger text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Error</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>