<div class="container mt-4">
  <div class="card shadow rounded-3 p-3">
    <h6 class="text-primary fw-bold">Payment Information</h6>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="mt-4">
            <span class="text-bold">Sender User Id :</span>
            <input placeholder="Enter Sender User Id" class="form-control mt-2" type="text"
              [(ngModel)]="payprocess.senderUserId" />
          </div>

          <div class="mt-4">
            <span class="text-bold">User Email Id:</span>
            <input placeholder="Enter User Email Id" class="form-control mt-2" type="text" [(ngModel)]="payprocess.userEmail" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="mt-4">
            <span class="text-bold">Amount:</span>
            <input placeholder="Enter Amount" class="form-control mt-2" type="text" [(ngModel)]="payprocess.amount" />
          </div>

          <div class="mt-4">
            <span class="text-bold">Payment Method:</span>
            <select [(ngModel)]="payprocess.paymentMethod" class="form-control mt-2" aria-label=".form-select-sm">
              @for(method of paymentMethods; track $index) {
              <option [value]="method">{{method}}</option>
              }
            </select>
          </div>
        </div>

      </div>
    </div>

  <!-- Conditional Sections Based on Payment Method -->
  @if (payprocess.paymentMethod === 'Card'){
  <div class="card shadow rounded-3 mt-4 p-3">
    <h6 class="text-primary fw-bold">Card Details</h6>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group mt-4">
          <span>Card Number :</span>
          <input class="form-control" placeholder="Enter Card Number" type="text" [(ngModel)]="cardDetails.cardNumber">
        </div>
        <div class="form-group mt-4">
          <span>Card Holder Name:</span>
          <input class="form-control" placeholder="Enter Card Holder's Name" type="text"
            [(ngModel)]="cardDetails.cardHolderName">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mt-4">
          <span>Expiry Month:</span>
          <input class="form-control" placeholder="Enter Card Expiry Month" type="text"
            [(ngModel)]="cardDetails.cardExpMonth">
        </div>
        <div class="form-group mt-4">
          <span>Expiry Year :</span>
          <input class="form-control" placeholder="Enter Card Expiry Year" type="text" [(ngModel)]="cardDetails.cardExpYear">
        </div>
        <div class="form-group mt-4">
          <span>CVV :</span>
          <input class="form-control" placeholder="Enter CVV No" type="text" [(ngModel)]="cardDetails.cardCvv">
        </div>
      </div>
    </div>
  </div>
  }
  @else if(payprocess.paymentMethod === 'UPI')
  {
  <div class="card shadow rounded-3 mt-4 p-3">
    <h6 class="text-primary fw-bold">UPI Details</h6>
    <div class="row">
      <div class="col-md-6">
        <div class="form-control mt-4">
          <span>UPI ID:</span>
          <input class="form-control"  placeholder="Enter UPI ID" type="text" [(ngModel)]="upiDetails.upiId">
        </div>
      </div>
    </div>
  </div>
  }
  @else if(payprocess.paymentMethod === 'Wallet')
  {
  <div class="card shadow rounded-3 mt-4 p-3">
    <h6 class="text-primary fw-bold">Wallet Details</h6>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group mt-4">
          <span>Wallet Provider:</span>
          <input class="form-control" placeholder="Enter Wallet Provider" type="text" [(ngModel)]="walletDetails.walletProvider">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mt-4">
          <span>Wallet Id:</span>
          <input class="form-control" placeholder="Enter Wallet ID" type="text" [(ngModel)]="walletDetails.walletId">
        </div>
      </div>
    </div>
  </div>
  }
  @else if(payprocess.paymentMethod === 'NetBanking')
  {
  <div class="card shadow rounded-3 mt-4 p-3">
    <h6 class="text-primary fw-bold">Net Banking Details</h6>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group mt-4">
          <span>Bank Name:</span> <input placeholder="Enter Bank Name" class="form-control" type="text" [(ngModel)]="netBankingDetails.bankName">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mt-4">
          <span>Account Number:</span>
          <input placeholder="Enter Account Number" class="form-control"  type="text" [(ngModel)]="netBankingDetails.accountNumber">
        </div>
      </div>
    </div>
  </div>
  }
      <div class="col-md-3">
      <button class="btn btn-primary" (click)="processPayment()" value="Submit Payment">
        <i class="fa fa-solid fa-rocket"></i>
        <span class="ps-2">Submit</span>
      </button>
    </div>
  </div>
